@media(min-width: 992px) {
    #mynav ul li {
        margin-top: -43px;
        padding-top: 43px;
    }
}

@media(max-width: 991px) {
    #mynav ul {
        margin-top: 15px;
        background-color: rgb(0, 0, 0);
    }
    .about_contents {
        margin-top: 20px;
    }
    .portfolio_filter_nav_ul {
        text-align: center;
    }
    .portfolio_filter_nav_ul li {
        display: inline-block;
        width: 32.5%;
    }
    .portfolio_filter_nav_ul li:hover {
        padding-left: 0;
    }
    .portfolio_filter_nav_li_active {
        padding-left: 0;
    }
}

@media(max-width: 575px) {
    .banner_captions a {
        margin-left: 10px;
    }
    .portfolio_filter_nav_ul li {
        display: inline-block;
        width: 49.5%;
    }
}

@media(max-width: 767px) {
    .pricing_grid {
        margin-bottom: 10px;
    }
    #banner {
        background-size: 100%;
    }
}