/* Code By Webdevtrick ( https://webdevtrick.com ) */

@import url('https://fonts.googleapis.com/css?family=Hind:300,400');
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width:800px) {
    body {
        padding-right: 20%;
        padding-left: 20%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background: #141838;
    background: -moz-radial-gradient(center, ellipse cover, #141838 0%, #151515 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #141838 0%, #151515 100%);
    background: radial-gradient(ellipse at center, #141838 0%, #151515 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#303139', endColorstr='#151515', GradientType=1);
    color: #f1f2f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}

h3 {
    font-size: 1.75rem;
    color: #373d51;
    padding: 1.3rem;
    margin: 0;
}

.accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #a4adb9;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
    cursor: pointer;
    color: #fcb574;
}

.accordion a:hover::after {
    border: 1px solid #fcb574;
}

.accordion a.active {
    color: #fcb574;
    border-bottom: 1px solid #fcb574;
}

.accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
}

.accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #fcb574;
    border: 1px solid #fcb574;
}

.accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
}

.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}